#Freelance::before {
	content: "";
	position: fixed;
	background-image: url("../../images/base_back.jpeg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;

	-webkit-filter: blur(50px);
	-moz-filter: blur(50px);
	-o-filter: blur(50px);
	-ms-filter: blur(50px);
	filter: blur(50px);
}

#Freelance h1,
#Freelance h3 {
	color: var(--secondary-light);
}

#Freelance p {
	color: var(--primary-light);
}
