#Contact::before {
	content: "";
	position: fixed;
	z-index: -1;
	background-image: url("~/public/base_back.jpeg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;

	/*
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);*/
}

#Contact {
	z-index: 0;
	padding-top: 50px;
}

#Contact img {
	height: 100px;
	max-width: 200px;
}

#Contact button {
	border: none;
	padding: 0;
	margin: 0;
}

#Contact .margin-slide-right {
	margin-left: 50px;
}
