::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar {
	background: #212529;
}

::-webkit-scrollbar-thumb {
	background: #0d6efd;
}

#app > .container::before {
	height: 100%;
	width: 100%;
}

#app > .container {
	height: 100vh;
	width: 100%;
	padding-top: 62px;
	padding-bottom: 45px;
	max-width: none !important;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
	padding-right: 0;
	overflow-y: auto;
	overflow-x: hidden;
}

.navbar {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 2;
	overflow-y: visible !important;
	max-height: 62px;
}

#Footer {
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 2;
}

.disabled-cursor {
	pointer-events: none;
}

.hidden {
	size: 0px 0px;
}

.br-10 {
	border-radius: 10px !important;
}

.br-15 {
	border-radius: 15px !important;
}

.br-20 {
	border-radius: 20px !important;
}

.row {
	margin-left: auto;
	margin-right: auto;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #212529;
	min-width: 160px;
	z-index: 1;
}

.show {
	display: block;
}

.bg-pitch {
	background-color: #010101;
}

.bg-lpitch {
	background-color: #111111;
}

.LinkButton {
	border-bottom: solid #0d6efd 5px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}

.top {
	margin-bottom: 200px;
}

.content,
.content-row,
.top-content-row {
	position: relative;
	z-index: 1;
}

.content-row {
	margin-top: 500px;
}

.top-content-row {
	margin-top: 300px;
}
