::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar {
	background: #212529;
}

::-webkit-scrollbar-thumb {
	background: #0d6efd;
}

#app > .container::before {
	height: 100%;
	width: 100%;
}

#app > .container {
	height: 100vh;
	width: 100%;
	padding-top: 75px;
	max-width: none !important;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
	padding-right: 0;
}

.navbar {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1;
}

.disabledCursor {
	cursor: defualt;
}

.hidden {
	size: 0px 0px;
}

.br-10 {
	border-radius: 10px !important;
}

.br-15 {
	border-radius: 15px !important;
}

.br-20 {
	border-radius: 20px !important;
}

.row {
	margin-left: auto;
	margin-right: auto;
}
