#AboutMe::before {
	content: "";
	position: fixed;
	z-index: -1;
	background-image: url("../../images/base_back.jpeg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}

#AboutMe {
	z-index: 0;
}
