#Homepage .col-md-5 > p {
    padding-top: 5%;
}

#Homepage .bottom-banner {
    background-color: var(--primary-light);
    position: absolute;
    bottom: 30px;
    left: 10%;
    right: 10%;
}

#Homepage {
    font-family: Consolas, monaco, monospace !important;
}

#Homepage .gap-image {
    position: absolute;

    top: 300px;

    width: 100%;

    z-index: -1;
}

#Homepage .image-col {
    margin: auto auto;
}

#Homepage .info-paragraph {
    height: 40vh;
}

#Homepage .img-container {
    max-height: 45vh;
    border: 4px solid var(--primary-dark);
    border-radius: 10px;
    padding: 0px;
    overflow: hidden;
    width: fit-content;
    height: fit-content;
}

#Homepage .img-container > img {
    max-width: 100%;
    max-height: 100%;
}

#Homepage iframe {
    position: fixed;
    height: 120%;
    z-index: -1;
}

#Homepage .spacer {
    height: 70vh;
    width: 100vw;
    z-index: 1;
    background-color: #0000;
}
