#Homepage .col-md-5 > p {
	padding-top: 5%;
}

#Homepage .bottom-banner {
	position: absolute;
	bottom: 30px;
	left: 10%;
	right: 10%;
}

#Homepage::before {
	content: "";
	position: fixed;
	z-index: -1;
	background-image: url("/homepage_back.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;

	-webkit-filter: blur(50px);
	-moz-filter: blur(50px);
	-o-filter: blur(50px);
	-ms-filter: blur(50px);
	filter: blur(50px);
}

/*#Homepage img {
	position: absolute;
	left: auto;
	right: auto;
	top: 50%;
	-webkit-transform: translateY(-50%) !important;
	-ms-transform: translateY(-50%) !important;
	transform: translateY(-50%) !important;
}*/
